@model IEnumerable<RentalCar.Models.Cars.HomeIndexCarModel>

<h2 class="text-center mt-60">Cars of @User.Identity.Name - Page @ViewBag.CurrentPage</h2>

@if (!Model.Any())
{
    <h2 class="text-center">No more cars.</h2>
}

@using (Html.BeginForm("MyCars", "Cars", FormMethod.Get))
{
    if (Request.QueryString["user"] != null)
    {
        @Html.Hidden("user", Request.QueryString["user"]);
    }
    <div class="text-center mt-60">
        <input type="text" class="form-control" name="search" style="display: inline-block" value="@Request.QueryString["search"]" />
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

@foreach (var car in Model)
{
    <div class="row mt-60">
        <div class="col-md-6">
            <img src="@car.ImageUrl" class="img-responsive" @(car.IsRented ? "style=opacity:0.5" : string.Empty) />
        </div>
        <div class="col-md-6">
            <h2>@car.Make @car.Model (@car.Year)</h2>
            <a href="/Cars/Details/@car.Id" class="btn btn-default">@(car.IsRented ? "This Car Is Not Available" : "See More")</a>
        </div>
    </div>
}

@{
    var currentUser = Request.QueryString["user"];
    var currentSearch = Request.QueryString["search"];

    var currentUserQuery = currentUser != null ? "user=" + currentUser : string.Empty;
    var currentSearchQuery = currentSearch != null ? "search=" + currentSearch : string.Empty;
}

<p class="text-center mt-60 ">
    <a href="/Cars/MyCars?page=@(ViewBag.CurrentPage - 1)@currentUserQuery@currentSearchQuery" class="btn btn-primary @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)"><< Previous</a>
    <a href="/Cars/MyCars?page=@(ViewBag.CurrentPage + 1)@currentUserQuery@currentSearchQuery" class="btn btn-primary @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
</p>
